.search-container{
/* border: solid red; */
/* margin-bottom: -20px; */
/* margin-left: 70px; */
margin-top: 20px;
display: flex;
justify-content: end;
width: 1360px;
}
input{
    border-top: none ;
    border-left: none;
    /* border-bottom: solid; */
    border-right: none;
    border: solid ;
    border-radius: 20px;
    width: 300px;
    border-color: rgb(179, 175, 175);
    padding-left: 15px;
}